<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Tab Name</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
   <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/static/favicon.png">

    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">

      <div class="navbar-inner">

        <div class="container">

          <!--Just shows 3 little bars on the left whent the menus don't fit one the screen-->
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <a class="brand" href="#" id="menu_project">Project name</a>

          <div class="nav-collapse collapse">

          {% if current_user.is_authenticated() %}
            <ul class="nav">
              <li class="active"><a id="menu_home" href="#">Home</a></li>
              <li><a id="menu_about" href="#about">About</a></li>
              <li><a id="menu_contact" href="#contact">Contact</a></li>
            </ul> 

            <form class="navbar-form pull-right" action="/logout" method=post>
              <button type="submit" class="btn">{{ current_user.name }} <i class="icon-lock"></i></button>
            </form>

          {% endif %}
          </div><!--/.nav-collapse -->

        </div>
      </div>
    </div>

  {% if current_user.is_authenticated() %}

    <div class="container" id="whole_page">
        {% include 'snippet_project.html' %}
    </div> <!-- /container -->

    <hr>
    <footer>
        <p>&copy;2013</p>
    </footer>

  {% else %}

    
     <div class="container">
         <div class="hero-unit">

          <form class="form-signin"  action="" method=post>
            <input type="text" name="username" class="input-block-level" placeholder="Notch">
            <input type="password" name="password" class="input-block-level" placeholder="password">
            <label class="checkbox">
              <input type="checkbox" name=remember value=yes> Remember me
            </label>
            <button class="btn btn-large btn-primary" type="submit">Sign in</button>
          </form>

        </div> <!-- /unit hero -->
    </div> <!-- /container -->
 
  {% endif %}


    </div> <!-- /container -->

    <!--get this from a CDN, it's likely your browser already has this cached-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/menu.js"></script>

  </body>
</html>
